/***** FONTS *****/
/***   Poppins: font-family:'Poppins', sans-serif; ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/***   Oxygen: font-family: 'Oxygen', sans-serif;   ***/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/*** Source Sans Pro: font-family: 'Source Sans Pro', sans-serif; ***/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


$purple: #310A90;
$turquoise: #42E2B8;
$white: #FFFFFF;

$gradient:  radial-gradient(41.48% 11.48% at 2.38% 8.52%, #8E74E9 0%, rgba(255, 255, 255, 0) 100%), 
            linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}


@import "fonts";
@import "buttons";
@import "title";


html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{ 
    background: $gradient;
    background-attachment: fixed;
    /*backdrop-filter: blur(40px);*/
    padding: 0 1em;
}


main{
    padding-top: 4.5em;
    .intro{
        padding: 2.5em 0;
        .intro__message{
            margin: 0;
            text-align: center;
            letter-spacing: 0.005em;
            font-weight: normal;
            color: $purple;
        }
        .intro__projects{
            margin: 1em 0;
            text-align: center;
            color: $purple;
        }
        .arrow_container{
            height: 6.5em;
            position: relative;
            img{
                position: absolute;

            }
            .slidein {
                animation-duration: 2s;
                animation-delay: 500ms;
                animation-name: slidein;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            
            @keyframes slidein{
                from {
                    top: 0;
                }
                to {
                    top: 5em;
                }   
            }
        }
    }
}




@media (min-width:620px){
    body{
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width:820px){
    html{
        font-size: 18px;
    }
    body{
        max-width: 800px;
    }
}

@media (min-width:1000px){
    body{
        max-width: 900px;
    }   
}

@media (min-width: 1300px){
    html{
        font-size: 24px;
    }
    body{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    main{
        padding-top: 4.5em;
        .intro{
            max-width: 900px;
            margin: 0 auto;
            padding: 8.4em 0 3em;
            .intro__message{
                font: $heading6;
            }
        }
    }
    
}

@media (min-width: 1600px){
    html{
        font-size: 28px;
    }
}