$border-gradient: radial-gradient(83.14% 78.52% at -12.32% -18.69%, 
                                rgba(255, 255, 255, 0.75) 0%, 
                                rgba(255, 255, 255, 0) 100%);

$purple: #310A90;


@import "fonts";


.projectFull{
    .project{
        padding: 2.5em 0;
        padding-bottom: 0;
              
        /*.project_pic{
            img{
                width: 20.5em;
            }
        } */ 
        .project_presentation{
            padding: 2.5em 1em;
            .description{
                margin: 2em 0;
                color: $purple;
            }
            .project_buttons{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }
    }

    .client_comments{
        background: rgba(255, 255, 255, 0.2);
        margin: 2.5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
        /*backdrop-filter: blur(39.7657px);*/ 
        border-radius: 1.5em;
        border: 4px solid transparent;
    
        /*Hace el borde pero sin curvas en las esquinas*/
        /*border-image: $border-gradient 1 stretch;*/   
        .comment{
            margin: 1.5em 0;
            color: $purple;
        }
        .client{
            margin: 0;
            color: $purple;
        }
    }
}

@media (min-width:620px){
    .projectFull{
        .project{
            .project_presentation{
                .project_buttons{
                    button{
                        width: 60%;
                    }
                }
            }
        }
    }
}


@media (min-width:1000px){
    .projectFull{
        .project{
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
                       
            .project_presentation{
                .project_buttons{
                    flex-direction: row-reverse;
                    justify-content: flex-end;  /*Por ser reverse (not sure)*/
                    gap: 1em;
                    
                    button{
                        padding: 13px 24px;
                    }
                }
            }
            .project_pic{
                grid-column: 6/13;
                grid-row: 1;
                
            }
            .project_presentation{
                grid-column: 1/6;
                grid-row: 1;
            }
        }

        .imageFirst{
            .project_pic{
                grid-column: 1/8;
                grid-row: 1;
            }
            .project_presentation{
                grid-column: 8/13;
                grid-row: 1;
            }
        }
        
    }
    
}


@media (min-width:1300px){
    .projectFull{
        .client_comments{
            padding: 3.33em;
            .comment{
                font: $heading6;
                text-align: center;
                font-weight: bold;
            }
            .client{
                font: $heading5;
                text-align: center;
                opacity: 0.5;
            }
        }
    }
    
}

