.slidein {
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes slidein{
    from {
        top: 0;
    }
    to {
        top: 5em;
   }
  }